<Layout as |layout|>
  <layout.nav>
    <button
      type="button"
      class="nes-btn is-primary mr-4"
      {{on "click" (set this "isShowReleaseModal" true)}}
    >
      💡
    </button>
  </layout.nav>
  <layout.head @talk="Welcome new friends"/>
  <layout.body class="mb-home">
    <a
      class="nes-container is-rounded mb-4"
      href="https://bla-bla.club/talkwithmichael/"
      target="_blank"
      rel="noreferrer noopener"
    >
      <p class="nes-text is-primary">
        Title: Talk With Michael
      </p>
      <p>
        Description: Click here to visit our past episodes of selective content
      </p>
      <Avatar
        @character="tight-fisted"
        @username="Michael"
      >
        <span class="nes-text is-success">
          Host
        </span>
      </Avatar>
    </a>
    {{#each this.model.rooms as |room|}}
      <Room @room={{room}} />
    {{/each}}
  </layout.body>
</Layout>
{{#if this.isShowReleaseModal}}
  <ModalDialog @translucentOverlay={{true}}>
    <div class="p-4">
      <p class="nes-text">
        Hi dear friends :)
      </p>
      <p>
        Our app has a new release for you today!
      </p>
      <p>
        Here is what has been updated:
      </p>
      <div class="lists">
        <ul class="nes-list is-circle">
          <li>
            Feed now lists current active rooms and scheduled rooms.
          </li>
          <li>
            Users can update their avatar and verify email on the setting page.
          </li>
          <li>
            Invitation code, the new user will need to enter an invitation code.
          </li>
        </ul>
      </div>
      <div class="mb-4">
        <p class="nes-text is-error">
          Thank you, Sean Johnson, for adding tons of useful features with us.
          Sean, you are our superhero.
          <i class="nes-icon heart"></i>
        </p>
        <i class="nes-mario"></i>
        <i class="nes-ash"></i>
        <i class="nes-pokeball"></i>
        <i class="nes-kirby"></i>
      </div>
      <button
        type="button"
        class="nes-btn is-success"
        {{on "click" this.closeFeatureModal}}
      >
        Try it out
      </button>
    </div>
    <span class="mb-app-version">
      Version:
      {{app-version versionOnly=true}}
      Beta
    </span>
  </ModalDialog>
{{/if}}