{{outlet}}
{{#if this.showBottomNav}}
  <nav id="bottom-nav" class="nes-container">
    In Call
    {{#if this.call.muted}}
      <button
        type="button"
        class="nes-btn is-primary"
        {{on "click" this.unmute}}
      >
        Unmute
      </button>
    {{else}}
      <button type="button" class="nes-btn is-primary" {{on "click" this.mute}}>
        Mute
      </button>
    {{/if}}
    {{#link-to "authentication.room" this.call.roomId}}
      <button
        type="button"
        class="nes-btn is-primary"
      >
        Rejoin Room
      </button>
    {{/link-to}}
    <button
      type="button"
      class="nes-btn is-error"
      {{on "click" this.endCall}}
    >
      End Call
    </button>
  </nav>
{{/if}}