<Layout as |layout|>
  <layout.body>
    {{#if (eq this.currentState this.state.signUp)}}
      <div class="nes-container with-title">
        <p class="title">
          Let's get your passport ready ;)
        </p>
        <div class="mb-4">
          <p class="nes-text is-primary">
            Select your avatar
          </p>
          <div
            class="display-flex justify-space-between align-items-flex-start flex-wrap"
          >
            <AvatarSelector
              @chooseAvatar={{set this "chooseAvatar"}}
              @currentAvatar={{this.selectAvatar}}
            />
          </div>
        </div>
        <div class="nes-field mb-4">
          <label for="user-name">
            Username
          </label>
          <Input
            @type="text"
            @id="user-name"
            @value={{this.username}}
            @key-up={{this.usernameKeyUp}}
            class="nes-input"
            placeholder="username"
          />
          {{#if this.usernameExceedLimit}}
            <p class="nes-text is-error">
              Username too long, it should be less than 8 chars
            </p>
          {{/if}}
        </div>
        <div class="nes-field mb-4">
          <label for="password">
            Password
          </label>
          <Input
            @type="password"
            @id="password"
            @value={{this.password}}
            @key-up={{this.passwordKeyUp}}
            class="nes-input"
            placeholder="password"
          />
        </div>
        <div class="nes-field mb-4">
          <label for="retype-password">
            Retype password
          </label>
          <Input
            @type="password"
            @id="retype-password"
            @value={{this.retypePassword}}
            @key-up={{this.passwordKeyUp}}
            class="nes-input"
            placeholder="retype password"
          />
        </div>
        <div class="nes-field mb-4">
          <label for="user-email">
            Email
          </label>
          <Input
            @type="email"
            @id="user-email"
            @value={{this.email}}
            class="nes-input"
            placeholder="email"
          />
        </div>
        <div class="nes-field mb-4">
          <label for="invitation-code">
            Invitation code
          </label>
          <Input
            @type="text"
            @id="invitation-code"
            @value={{this.inviteCode}}
            class="nes-input"
            placeholder="invitation code"
          />
          <p class="nes-text is-success mt-4">
            Email tningjs@outlook.com to get a code
          </p>
        </div>
        <div class="display-flex justify-space-between">
          <button
            type="button"
            class="nes-btn is-primary m-0
              {{if this.isSignUpBtnDisabled " is-disabled"}}"
            disabled={{this.isSignUpBtnDisabled}}
            {{on "click" this.signUp}}
          >
            Sign up
          </button>
          <LinkTo @route="login">
            <span class="nes-btn is-error">
              Back
            </span>
          </LinkTo>
        </div>
      </div>
    {{else if (eq this.currentState this.state.error)}}
      <div class="nes-container with-title">
        <p class="title">
          Sign up error
        </p>
        <p class="nes-text is-error">
          {{this.errorMessage}}
        </p>
        <button
          type="button"
          class="nes-btn is-primary"
          {{on "click" this.reset}}
        >
          Try Again
        </button>
      </div>
    {{else if (eq this.currentState this.state.invalidInviteCode)}}
      <div class="nes-container with-title">
        <p class="title">
          Invalid Invite Code
        </p>
        <p class="nes-text is-error">
          Sorry, the Invite Code is invalid. Please get a new one. You can reach out to us at tningjs@outlook.com to get a valid code
        </p>
        <button
          type="button"
          class="nes-btn is-primary"
          {{on "click" this.reset}}
        >
          Try again
        </button>
      </div>
    {{/if}}
  </layout.body>
</Layout>