<Layout as |layout|>
  <layout.body>
    {{#if (eq this.currentState this.state.login)}}
      <div class="nes-container with-title">
        <p class="title">
          Login to see our secret world
        </p>
        <div class="nes-field mb-4">
          <label for="user-name">
            Username
          </label>
          <Input
            @type="text"
            @id="user-name"
            @value={{this.username}}
            class="nes-input"
            placeholder="Enter your user name, e.g. Sean"
          />
        </div>
        <div class="nes-field mb-4">
          <label for="password">
            Password
          </label>
          <Input
            @type="password"
            @id="password"
            @value={{this.password}}
            class="nes-input"
            placeholder="password"
          />
          {{#if this.isResetPasswordSucceed}}
            <p class="nes-text is-success">An email is sent to reset your password</p>
          {{else }}
            <a href="#" {{on 'click' (set this 'isShowResetPassword' true)}}>Forget password?</a>
          {{/if}}
        </div>
        {{#if this.isShowResetPassword}}
          <div class="nes-field mb-4">
            <label for="user-email">
              Enter the registered email to reset password
            </label>
            <Input
              @type="email"
              @id="user-email"
              @value={{this.email}}
              class="nes-input"
              placeholder="email"
            />
          </div>
        {{/if}}
        <div class="display-flex justify-space-between">
          {{#if this.isShowResetPassword}}
            <button
              type="button"
              class="nes-btn is-primary m-0
                {{if this.isResetPasswordBtnDisabled " is-disabled"}}"
              disabled={{this.isResetPasswordBtnDisabled}}
              {{on "click" this.resetPassword}}
            >
              Reset Password
            </button>
          {{else}}
            <button
              type="button"
              class="nes-btn is-primary m-0
                {{if this.isLoginBtnDisabled " is-disabled"}}"
              disabled={{this.isLoginBtnDisabled}}
              {{on "click" this.login}}
            >
              Login
            </button>
          {{/if}}
          <LinkTo @route="register">
            <span class="nes-btn is-success">
              Register
            </span>
          </LinkTo>
        </div>
      </div>
    {{else if (eq this.currentState this.state.error)}}
      <div class="nes-container with-title">
        <p class="title">
          Login error
        </p>
        <p class="nes-text is-error">
          {{this.errorMessage}}
        </p>
        <button
          type="button"
          class="nes-btn is-primary"
          {{on "click" this.reset}}
        >
          Try again
        </button>
      </div>
    {{/if}}
  </layout.body>
</Layout>